.videocontent {
    position: relative;
    display: inline-block;
   
}


 .videocontent::before {
        content: "";
        background-image: url('../images/dbck.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;       
    }



.pp
{
    color:white;
    text-align: center;
    background-color: black;
    opacity:0.55;
    margin:5px 0;
   
}


.carousel-inner > .carousel-item > img{
    height:4000px;
    width:3000px;

}
