.videocontent {
    position: relative;
    height:100%;
    width: 110%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


 .videocontent::before {
        content: "";
        background-image: url('../images/rainbow.jpg');
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
    }

.pp {
    position: relative;
    color: black;
    font-size: 300%;
    text-align: center;
    padding-right:2%;
}